.App {
  text-align: center;
  font-family: 'Blinker', sans-serif;
}

.userDisplay {
  margin-bottom: 10px;
}

.userDisplayPaper {
  font-size: 16px;
  color: white !important;
  background-color: #6441a4 !important;
}
